// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif

body
  font-family: Arial, sans-serif
  font-size: 16px
  line-height: 1.4
  color: #0B395D

// common blocks
.out
  width: 1100px
  margin: 0 auto

.header
  padding: 70px 0

.header,
.footer
  +clr

.left
  float: left
  text-align: right

.right
  float: right
  text-align: right

.cols
  +clr
.sidebar
  float: left
  width: 180px
.main
  overflow: hidden
  padding-left: 20px
.user
  img
    display: block
    max-width: 100%
.text
  h1
    margin-bottom: 20px
    font-weight: normal
    font-size: 18px
    color: #444f48
  p
    margin-bottom: 20px

.footer
  padding: 40px 0 10px

.gallery
  margin: 0 -10px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  figure
    padding: 10px
    margin-bottom: 50px
    overflow: hidden
    img
      max-width: 100%
      max-height: 400px
      object-fit: cover
  &[data-img="3"],
  &[data-img="4"]
    figure
      width: 50%
      img
        width: 100%
        height: 330px
  &[data-img="5"],
  &[data-img="6"]
    figure
      width: 33.3%
      img
        width: 100%
        height: 330px
  &[data-img="7"],
  &[data-img="8"],
  &[data-img="9"],
  &[data-img="10"],
  &[data-img="11"],
  &[data-img="12"]
    figure
      width: 25%
      img
        width: 100%
        height: 200px